/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "../components/top-navigation";

@import "../components/menu-toggle";

.comment-navigation,
.posts-navigation,
.post-navigation {
	border-bottom: 1px dashed $color__mid-grey;
	border-top: 1px dashed $color__mid-grey;
	font-family: $font__heading;
	font-style: italic;
	padding: .75em 0;

	.site-main & {
		margin: 0 0 3em;
		overflow: hidden;
	}

	& .nav-previous {
		border-bottom: 2px solid $color__light-grey;
		margin-bottom: .75em;
		padding-bottom: .75em;
		font-size: $font__size-h5;
		line-height: 1.3;
		width: 100%;
	}

	& .nav-next {
		font-size: $font__size-h5;
		line-height: 1.3;
		text-align: right;
		width: 100%;
	}

	.meta-nav {
		clear: both;
		color: $color__primary;
		display: block;
		font-family: $font__main;
		font-size: $font__size-smaller;
		font-style: normal;
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: uppercase;
		width: 100%;
	}

	a {
		text-decoration: none;
		transition: 0.3s;
	}
}

@import "../components/social-menu";