$font__main: Lato, Helvetica, sans-serif;
$font__heading: Lora, Garamond, serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.6;
$font__line-height-pre: 1.6;;
$font__line-height-headings: 1.2;

// Font sizes
$font__size-h1: 3.052em;
$font__size-h2: 2.441em;
$font__size-h3: 1.953em;
$font__size-h4: 1.563em;
$font__size-h5: 1.25em;
$font__size-h6: 1em;
$font__size-default: 16px;
$font__size-content: 18px;
$font__size-small: 14px;
$font__size-smaller: 13px;
$font__size_tiny: 12px;

// Weights
$font__weight-default: 400;
$font__weight-bold: 700;